#grid-container {
	display: grid;
	grid-template-columns: repeat(25, 15fr);
	grid-gap: 0px;
	margin: 50px auto;
	width: 500px;
	height: 500px;
	background-color: lightgray;
	border: 5px solid #333; /* add a border for visual appeal /
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); / add a shadow effect /
	position: relative; / set the container's position to relative */
	}
	
	.grid-item {
	background-color: white;
	border: 1px solid gray;
	width: 100%;
	height: 100%;
	position: relative; /* set the item's position to relative */
	}
	
	.active {
	background-color: pink;
	box-shadow: 0px 0px 10px rgba(255, 0, 127, 0.7); /* add a shadow effect */
	}
	
	.trap {
	background-color: brown;
	box-shadow: 0px 0px 10px rgba(165, 42, 42, 0.7); /* add a shadow effect */
	}
	
	.treasure {
	background-color: yellow;
	box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.7); /* add a shadow effect */
	}
	
	.score {
		position: absolute;  
		top: 10px;
		right: 10px;
		background-color: #333;
		color: white;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		font-size: 24px;
	}