#grid-container {
	display: grid;
	grid-template-columns: repeat(25,15fr);
	grid-gap: 0px;
	margin: 50px auto;
	width: 500px;
	height: 500px;
	background-color: lightgray;
  }
  
  .grid-item {
	background-color: white;
	border: 1px solid gray;
	width: 100%;
	height: 100%;
  }
  
  .active {
	background-color: red;
  }
  