#grid-container {
	display: grid;
	grid-template-columns: repeat(25, 15fr);
	grid-gap: 0px;
	margin: 50px auto;
	width: 800px;
	height: 800px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);  
	position: relative; 
}

.grid-item {
	background-color: #F2DEBA;
	width: 100%;
	height: 100%;
	position: relative; 
}

.active {
	background-size: 30px 30px;
	background-image:url('./images/cat.png') ;
	background-repeat: no-repeat;
	background-position: center; 
}

.trap {
	background-size: 30px 30px;
	background-image:url('./images/bear-trap.png') ;
	background-repeat: no-repeat;
	background-position: center; 
}

.treasure {
	background-size: 30px 30px;
	background-image:url('./images/treasure.png') ;
	background-repeat: no-repeat;
	background-position: center; 
}

.score {
	position: absolute;  
	top: 10px;
	right: 10px;
	background-color: #333;
	color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	font-size: 24px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}	

#progress{
	margin-top: 2%;
	margin-left: 30%;
}

progress[value]::-webkit-progress-bar {
	background-color: white;
}

	
